<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>FSGO - The Go (Almost) Anywhere Trip Planner</title>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/magic/magic.min.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="stylesheets/tripplanner.css">
  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/stylesheets/shoestring.css" rel="stylesheet"> -->
</head>

<body id="bootstrap-overrides">
  <header>
    {% include "./nav.html" %}
  </header>
  <!-- This is where map should go -->
  <div class="col-md-8">
    <div id="mapdiv">{% include "./map.html" %}</div>
  </div>
  <div class="panelsparent col-md-4">
    <div class="col-md-12">
      <div class="row">
        <div class="panel panel-default" id="options">
          <!-- <div class="panel-heading">
              Options
            </div> -->
          <div id="selector" class="panel-body">
            {% include "./selector.html" %}
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <h1>Day 2</h1> -->
      </div>
      <div class="row">
        {% include "./itinerary.html" %}
      </div>
    </div>
  </div>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- bower:js -->
  <!-- endbower -->
</body>

<script>
$(document).ready(function(){
//all listens go here

console.log('ready');

$('#selector .btn-circle').click(function(e){
  console.log($(this));
  console.log('click');

  // append new html element to itinerary with value of 



});


$('#selector ul.dropdown-menu li').click(function(e){
    $this = $(this); 
    $this.parent().prev('button').text($this.text());
});


});

</script>
</html>
