<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>FSGO - The Go (Almost) Anywhere Trip Planner</title>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/magic/magic.min.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="stylesheets/tripplanner.css">
  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/stylesheets/shoestring.css" rel="stylesheet"> -->
</head>

<body id="bootstrap-overrides">
  <header>
    {% include "./nav.html" %}
  </header>
  <!-- This is where map should go -->
  <div class="col-md-8">
    <div id="mapdiv">{% include "./map.html" %}</div>
  </div>
  <div class="panelsparent col-md-4">
    <div class="col-md-12">
      <div class="row">
        <div class="panel panel-default" id="options">
          <!-- <div class="panel-heading">
              Options
            </div> -->
          <div id="selector" class="panel-body">
            {% include "./selector.html" %}
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <h1>Day 2</h1> -->
      </div>
      <div id="itinerary" class="row">
        {% include "./itinerary.html" %}
      </div>
    </div>
  </div>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- bower:js -->
  <!-- endbower -->
</body>

<script>
$(document).ready(function(){
  //create selector dropdowns
  var hotelSelector = $('#hotel-selector ul');
  hotels.forEach( function(hotel) {
    hotelSelector.append(`<li data-value-id=${hotel.id}><a href="#">${hotel.name}</a></li>`);
  })
  var restaurantSelector = $('#restaurant-selector ul');
  restaurants.forEach( function(restaurant) {
    restaurantSelector.append(`<li data-value-id=${restaurant.id}><a href="#">${restaurant.name}</a></li>`);
  })
  var activitySelector = $('#activity-selector ul');
  activities.forEach( function(activity) {
    activitySelector.append(`<li data-value-id=${activity.id}><a href="#">${activity.name}</a></li>`);
  })
  //all listens go here

  console.log('ready');

  console.log($('#hotel-itinerary'));

//add something to the itinerary
  $('#selector .btn-circle').click(function(e){
    var dropdownElement = $(this).parent().prev().find('button').first();
    var name = dropdownElement.text();
    var id = dropdownElement.attr('data-value-id');
    //console.log(name)
    var type = $(this).closest('row')[0].id.slice(0,-9);
    console.log(id, name, type);
    var itinerary = $('#'+type+'-itinerary > div > ul');
    itinerary.append(addToItinerary(name,id));
    // itinerary.last().click(function(e){
    //   deleteFromItinerary(e.toElement.closest('row'));
    // })
  });

//select something from the selector dropdown menu
  $('#selector ul.dropdown-menu li').click(function(e){
      $this = $(this); 
      $this.parent().prev('button').attr('data-value-id',$this.attr('data-value-id'));
      $this.parent().prev('button').text($this.text());
  });

//delete an entry from the itinerary
  $("#itinerary [name='itinerary-delete']").click(function(e){
    console.dir(e.toElement);
    deleteFromItinerary(e.toElement.closest('row'));
  })

//itinerary template
  function addToItinerary(name,id){
    if(!id) throw "Error";
    var newRow = $(document.createElement('row') )

    newRow.attr("data-value-id",id)
    var innerHtml = `<div class="col-md-8">
                        ${name}
                      </div>
                      <div class="col-md-4">
                        <button name="itinerary-delete" type="button" class="btn btn-danger btn-xs btn-circle">X</button>
                      </div>`
    newRow.html(innerHtml);
    newRow.find('button').click(function(e){
      deleteFromItinerary(e.toElement.closest('row'));
    })
    return newRow;
  }

  //delete an entry from the itinerary
  function deleteFromItinerary(item){
    item.remove();
  }


});

</script>
<script>
//lists of activities and places
  {% autoescape false %}
  var hotels = {{ hotels | json }};
  var restaurants = {{ restaurants | json }};
  var activities = {{ activities | json }};
  {% endautoescape %}
  var itinerary = {
    day1:
      {
        hotels: [],
        restaurants: [],
        activities: []
      },
    day2:
      {
        hotels: [],
        restaurants: [],
        activities: []
      },
    day3:
      {
        hotels: [],
        restaurants: [],
        activities: []
      }
  }
  console.log(hotels);

</script>
</html>
