<div class="panel panel-default">
  <!--here-->
  <div class="panel-body">
    <row>
      <div class="col-md-12">
        <h3>My Hotels</h3>
        <ul>
          <div class="col-md-8">
            Andaz Wall Street
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-danger btn-xs btn-circle">X</button>
          </div>
        </ul>
      </div>
    </row>
    <row>
      <div class="col-md-12">
        <h3>My Restaurants</h3>
        <ul>
          <div class="col-md-8">
            The Capital Grille
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-danger btn-xs btn-circle">X</button>
          </div>
          <div class="col-md-8">
            Bouleay
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-danger btn-xs btn-circle">X</button>
          </div>
        </ul>
      </div>
    </row>
    <row>
      <div class="col-md-12">
        <h3>My Activities </h3>
        <ul>
          <div class="col-md-8">
            Mahayana Temple Buddhist Assocation
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-danger btn-xs btn-circle">X</button>
          </div>
          <div class="col-md-8">
            Southstreet Seaport
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-danger btn-xs btn-circle">X</button>
          </div>
        </ul>
      </div>
    </row>
  </div>
  <div class="btn-group panel-heading" role="group" aria-label="...">
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>
    <button type="button" class="btn btn-default">3</button>
    <button type="button" class="btn btn-default">+</button>
  </div>
</div>
